.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.2s ease;
  will-change: transform;
  text-align: center;
  z-index: 1;

  .name {
    font-size: 12px;
    background: #bae0ff;
    border-radius: 4px;
  }

  .r1 {
    position: absolute;
    background: rgb(255, 255, 240, 0.2);
    border-radius: 50%;
    z-index: -1;
  }

  .r2 {
    position: absolute;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: -1;
  }
}
